body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea {
    font-size: 16px;
    line-height: 24px;
    color: #191919;
    font-family: 'PingFangSC-Regular', "Microsoft YaHei UI Bold", "Microsoft YaHei UI Regular",
        "Microsoft YaHei UI", sans-serif;
    ;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-family: 'PingFangSC-Medium', "Microsoft YaHei UI Bold", "Microsoft YaHei UI Regular",
        "Microsoft YaHei UI", sans-serif;
    ;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}


ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}
sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset,
img {
    border: 0;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

// h1 {
//     font-size: 22px;
//     line-height: 30px;
// }

// h2 {
//     font-size: 20px;
//     line-height: 28px;
// }

// h3 {
//     font-size: 18px;
//     line-height: 26px;
// }

// h4 {
//     font-size: 16px;
//     line-height: 24px;
// }

.small {
    font-size: 14px;
    line-height: 22px;
}

html,
body {
    max-width: 750px;
    margin: auto;
    height: 100%;
}


ul,
h1,
h3,
h4,
p,
dl,
dd {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
  outline: none;
}

i {
  font-style: normal;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="checkbox"] {
  padding: 0;
  outline: none;
  border: none;
  appearance: none;

  &::placeholder {
    color: #ccc;
  }
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}


#app {
  background: #f5f5f5;
  user-select: none;
}

code,
kbd,
pre,
samp  {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}